label.EmailLabel {
  margin-bottom: 10px;
  margin-top: 12px;
}
.setEmail {
  display: flex;
  justify-content: center;
  width: 84%;
  flex-direction: column;
}
.login3 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}
.login {
    /* width: 100%; */
    height: 100vh;
}
.SignUp{
  height: 100vh;
}
.Admin{
  height: 100vh;
}
.Company{
  height: 100vh;
}
.Company2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: blue;
  height: 97.8%;
  align-content: space-around; 
}
.Admin2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: blue;
  height: 97.8%;
  align-content: space-around;  
}
.SignUp2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: blue;
  height: 97.8%;
  align-content: space-around;  
}
.login2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: blue;
  height: 97.8%;
  align-content: space-around;
}

.formLogin {
  /* display: flex; */
  flex-direction: column;
  margin-top: 200px;
  background-color: white;
  border-radius: 18px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 34%;
  /* height: 52%; */
}
.formLogin2{
    /* display: flex; */
    flex-direction: column;
    margin-top: 200px;
    background-color: white;
    border-radius: 18px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 34%;
    /* height: 59%; */
}
input.enterEmail {
  height: 40px;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all .3s;
}
a.SignupBBTN {
  margin-bottom: 15px;
}
button.LoginBtn {
  background-color: black;
  color: white;
  font-size: 17px;
  border: none;
  height: 40px;
  width: 100px;
  margin: 22px;
  cursor: pointer;
}
img.guestImg {
  width: 121px;
  /* border-radius: 38px 43px 63px !important; */
}
a.navLogin {
  color: black;
  text-decoration: none;
  margin: 0px;
}
.navbar {
  height: 33px;
  background-color: ghostwhite;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  padding-top: 10px;
  padding-bottom: 0px;
}
.navbar2 {
  /* margin: 12px; */
  display: flex;
  justify-content: space-around;
}

.homeParent2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.PostParent2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.HomeCards {
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  width: 30%;
  border: 1px outset;
  margin-bottom: 19px;
  border-radius: 23px;
  background-color: ghostwhite;
}
.Postcards{
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  width: 30%;
  border: 1px outset;
  margin-bottom: 19px;
  border-radius: 23px;
  background-color: ghostwhite;
}
.Home2 {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
    top: 100px;
}
.Post{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
    top: 100px;
}
img.Companyimg {
  width: 77%;
  margin-top: 23px;
}
img.Postimg{
  width: 77%;
  margin-top: 23px;
}
p.companyAddress {
  margin: 0px;
  padding-bottom: 25px;
}
p.companyDescription {
  margin: 0;
}
p.companyBusiness {
  margin: 0;
}
h4.CompanyH4Name {
  margin: 0;
}
h4.PostH4Name{
  margin: 0;
}
.PostBusiness{
  margin: 0;
}
.PostDescription{
  margin: 0;
}
.PostAddress{
  margin: 0;
}
button.AddData {
  background-color: black;
  height: 35px;
  width: 122px;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 24px;
  margin-bottom: 15px;
  margin-top: 9px;
  cursor: pointer;
}

.Data {
  display: flex;
  justify-content: center;
}
.dataParent {
  width: 50%;
  /* display: flex; */
  background-color: ghostwhite;
  border-radius: 24px;
  border: 1px outset;
  position: absolute;
  top: 100px;
}
.DataField {
  width: 100%;
  margin: 12px;
}
label.DataLabel {
  display: flex;
  font-size: 14px;
  color: #878787;
  margin-bottom: 6px;
}
.DataField {
  width: 100%;
  margin: 12px;
}
form.dataForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
input.dataInputBar {
    height: 40px;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;
}
.dataInputBar:hover {
  border-color: #40a9ff;
  border-right-width: 1px!important;
  z-index: 1;
}
.dataInputBar:focus {
  border-color: #40a9ff;
  border-right-width: 1px!important;
  z-index: 1;
}
button.DataAddData {
  margin-bottom: 24px;
  width: 24%;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 32px;
  cursor: pointer;
}
h4.DataH4EnterData {
  font-size: 25px;
  margin-bottom: 10px;
}
.DataImg {
  width: 100px;
  height: 30px;
  opacity: 1;
  overflow: hidden;
  /* position: absolute; */
  /* z-index: -1; */
}
.DataDiv {
  width: 69%;
}
input.enterEmail:hover {
  border-color: #40a9ff;
  border-right-width: 1px!important;
  z-index: 1;
}
input.enterEmail:focus {
  border-color: #40a9ff;
  border-right-width: 1px!important;
  z-index: 1;
}
.ant-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all .3s;
  display: inline-flex;
  height: 41px;
}
textarea.DataTextBar{
    width: 122px;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all .3s;
}
.DataTextBar:hover {
  border-color: #40a9ff;
  border-right-width: 1px!important;
  z-index: 1;
}
.DataTextBar:focus {
  border-color: #40a9ff;
  border-right-width: 1px!important;
  z-index: 1;
}